#main {
    padding: 6rem 0 0 0;

    display: grid;
    grid-template-areas: 
        'image'
        'header-text'
        'footer-text';
    gap: 1.5rem;
}


/* Header Text */
.header-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: header-text;
    padding: 0 1.5rem;
}

.header-text h2 {
    color: var(--black);
    font-size: 1.8rem;
}

.header-text p {
    color: var(--black);
    opacity: 0.875;
    line-height: 1.5rem;
}

.buy-button {
    background-color: var(--blue);
    width: 10rem;
    padding: 0.5rem 0;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    color: var(--ice);
    font-weight: 500;

    transition: filter 0.3s;
}

.buy-button:hover {
    filter: brightness(0.95);
}

.buy-button:focus {
    outline: 2px solid var(--black);
    filter: brightness(0.95);
}

/* Ebook Image */
.ebook-image {
    width: 100%;
    grid-area: image;
    padding: 0 1.5rem;
}


/* Footer Text */
.footer-info-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    grid-area: footer-text;

    background-color: var(--dark-green-1);
    padding: 1rem 0;
    width: 100%;
}

.footer-info-text .card {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green-2);
    padding: 0.875rem 1rem;
    border-radius: 8px;
}

.card span {
    color: var(--white);
}

.card span:first-of-type {
    font-weight: 700;
}

.card span:last-of-type {
    font-weight: 400;
}

@media(min-width: 768px) {
    #main {
        grid-template-columns: 20rem;
        grid-template-areas: 
            'header-text image'
            'footer-text footer-text';
    }

    .footer-info-text {
        gap: 1rem;
    }
}

@media(min-width: 1024px) {
    #main {
        grid-template-columns: 30rem;
    }

    .header-text {
        padding: 0 3rem;
    }

    .ebook-image {
        padding: 0 3rem;
    }

    .footer-info-text {
        padding: 2rem 0;
    }
}

@media(min-width: 1366px) {
    #main {
        align-items: center;
        grid-template-columns: auto;
    }

    .header-text {
        padding: 0 3rem;
        width: 35rem;
    }

    .ebook-image {
        padding: 0 3rem;
        width: 30rem;
    }
}
